// COLORS
$primary-color: #9FEF00;
$secondary-color: #9FEF00;

$white-color: #111927;

$dark-grey: #1A2332;
$light-grey: #1B2533;

$auxiliary-color: #1B2533;
$dark-blue-text: #FFF; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
